@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--FF: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	--HEADER-FF: "Edu NSW ACT Cursive", cursive;
	--FC: whitesmoke;

	/* --HEADER-COLOR: #75cde1; */
	--HEADER-COLOR: rgb(97, 148, 235);
	--BG-COLOR: #191919;
	--BRIGHT-DARK-COLOR: var(--BG-COLOR);
	--BRIGHT-BG-COLOR: rgba(30, 30, 30, 0.8);
	--BRIGHTER-DARK-COLOR: var(--BRIGHT-BG-COLOR);
	--BRIGHTER-P-DARK-COLOR: rgba(40, 40, 40, 0.7);
	--BRIGHTER-PP-DARK-COLOR: rgba(40, 40, 40, 1);
	--YELLOW-COLOR: #fabf36;
	--BRIGHT-YELLOW-COLOR: #f6c656f6;
	--BRIGHTER-YELLOW-COLOR: #f1cc77f6;
	--RESET-COLOR: #d35437;

	--TIE-COLOR: var(--YELLOW-COLOR);
	--WIN-COLOR: forestgreen;
	--LOST-COLOR: firebrick;
}

.hidden {
	visibility: hidden;
}

.removed {
	display: none;
}

html {
	font-family: var(--FF);
	text-align: center;
	margin: auto;
	color: var(--FC);
	background-color: var(--BG-COLOR);
}

body {
	max-width: 100vw;
	height: 100vh;

	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	flex: 1;
}

footer {
	max-height: 7vh;
}

main {
	height: 90vh;

	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center;
}

h1 {
	height: 5vh;

	color: var(--HEADER-COLOR);
	margin-top: 20px;
	font-family: var(--HEADER-FF);
}

.game-section {
	height: 75vh;

	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center;
}

#game-result {
	padding: 0.3rem 1rem;
	border-radius: 2px;
	border: 1px solid;
}

.tie-result {
	color: var(--TIE-COLOR);
	border-color: var(--TIE-COLOR);
}

.user-lost-result {
	color: var(--LOST-COLOR);
	border-color: var(--LOST-COLOR);
}

.user-won-result {
	color: var(--WIN-COLOR);
	border-color: var(--WIN-COLOR);
}

/* ---------------------------------------
------------ Game Buttons ----------------
------------------------------------------ */
.game-buttons {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-flow: row wrap;
	gap: 1rem;
}

.game-btn {
	border: 2px solid var(--YELLOW-COLOR);
	padding: 2.5rem 1.5rem;
	border-radius: 50%;
	color: var(--YELLOW-COLOR);
	background-color: var(--BRIGHTER-DARK-COLOR);
	transition: background-color 0.2s;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row nowrap;
}

.game-btn:hover,
.game-btn:focus-visible {
	cursor: pointer;
	background-color: var(--BRIGHTER-P-DARK-COLOR);
}

.game-btn:active {
	border: 2px solid var(--BRIGHTER-YELLOW-COLOR);
	box-shadow: 0 0 0 1px var(--BRIGHTER-YELLOW-COLOR);
	background-color: var(--BRIGHTER-PP-DARK-COLOR);
}

.winner-move {
	border: 4px solid var(--WIN-COLOR);
	color: var(--WIN-COLOR);
}

.loser-move {
	border: 4px solid var(--LOST-COLOR);
	color: var(--LOST-COLOR);
}

/* .tie-move {
	background-image: linear-gradient(
		to right,
		var(--WIN-COLOR) 50%,
		var(--LOST-COLOR) 50%
	);
	background-origin: border-box;
	background-clip: padding-box, border-box;
} */

/* ---------------------------------------
----------- Score Section ----------------
------------------------------------------ */

.wins {
	color: var(--WIN-COLOR);
}

.losses {
	color: var(--LOST-COLOR);
}

.ties {
	color: var(--TIE-COLOR);
}

.reset-section {
	color: var(--BG-COLOR);
	background-color: var(--RESET-COLOR);
}

.reset-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row nowrap;
	gap: 3px;
	padding: 10px;

	transition-timing-function: ease-out;
	transition: transform 0.15s, filter 0.15s, background-color 0.3s, color 0.3s;
}

.reset-btn:hover,
.reset-btn:focus-visible {
	cursor: pointer;
	color: var(--BG-COLOR);
	background-color: var(--RESET-COLOR);
	filter: brightness(107%);
	transform: scale(1.02);
}
