* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	outline-color: var(--BUTTON-BG-COLOR);
}

:root {
	--BUTTON-BG-COLOR: #ffd812;
	--BUTTON-COLOR: black;
	--SELECT-BUTTON-BG-COLOR: #f0f0f0;
	--SELECT-BUTTON-BORDER-COLOR: #d5d9d9;
	--SELECT-BUTTON-COLOR: black;
}

html {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	max-width: 100vw;
}

img {
	display: block;
	max-inline-size: 100%;
}

.product-item__title {
	font-weight: normal;
}

.product-list {
	margin-top: 25px;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
	align-items: stretch;
}

.product-item {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	gap: 1.5rem;

	border-right: 1px solid var(--SELECT-BUTTON-BORDER-COLOR);
	border-bottom: 1px solid var(--SELECT-BUTTON-BORDER-COLOR);
	padding: 30px;
}

.product-item__img-container {
	max-width: 10em;
	max-height: 10em;
	align-self: center;
	margin: 20px;
}

.product-item__info {
	display: flex;
	display: flex;
	flex-flow: column nowrap;
	gap: 0.5rem;
}

.product-item__title {
	font-size: 1.1rem;
}

.product-item__rating {
	display: flex;
	gap: 7px;
	justify-content: start;
	align-items: center;
}

.product-item__rating__stars {
	width: 100px;
}

.product-item__price {
	font-weight: bolder;
}

.product-item__ordering {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 30px;
}

.product-item__ordering__quantity {
	align-self: flex-start;
	padding: 3px 6px;
	border-radius: 5px;
	border-color: var(--SELECT-BUTTON-BORDER-COLOR);
	color: var(--SELECT-BUTTON-COLOR);
	background-color: var(--SELECT-BUTTON-BG-COLOR);
	box-shadow: 1px 1px 5px -5px currentColor;
}

.product-item__ordering__add-btn {
	border: none;
	padding: 10px 20px;
	border-radius: 30px;
	color: var(--BUTTON-COLOR);
	background-color: var(--BUTTON-BG-COLOR);
}
