:root {
	--NAV-BG-COLOR: #131921;
	--NAV-COLOR: white;
	--NAV-SEC-BG-COLOR: #febd68;
	--NAV-SEC-COLOR: #333333;
}

.removed {
	display: none;
}

img {
	display: block;
	width: 100%;
	height: 100%;
}

html {
	background-color: var(--NAV-BG-COLOR);
}

body {
	background-color: var(--NAV-COLOR);
}

.main-header {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	max-width: 1920px;
	padding: 10px 25px;

	position: sticky;
	top: 0;

	background-color: var(--NAV-BG-COLOR);
}

.main-header__logo-container {
	max-width: 100px;
}

.main-header__search {
	display: flex;
	flex-flow: row nowrap;
}

.main-header__search__textbox {
	font: inherit;
	border: none;
	padding: 10px 15px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;

	min-width: clamp(30px, 35vw, 500px);
}

.main-header__search__button {
	border: none;
	padding: 10px 12px;
	color: var(--NAV-SEC-COLOR);
	background-color: var(--NAV-SEC-BG-COLOR);
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

/*
			<div class="main-header__orders">
				<a
					href="./pages/orders.html"
					class="main-header__orders__ordered"
					>Returns & Orders</a
				>
				<a href="./pages/cart.html" class="main-header__orders__cart">
					<span class="orders__cart__number"></span>
					<i
						class="fa-solid fa-cart-shopping order__cart__icon"
						aria-label="shopping card icon"
					></i>
				</a>
			</div>
*/

.main-header__orders {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.main-header__orders__ordered:any-link,
.main-header__orders__cart:any-link {
	color: var(--NAV-COLOR);
	text-decoration: none;
}

.returns-text {
	font-size: 0.8rem;
	display: block;
}

.and-orders-text {
	font-size: 0.9rem;
	font-weight: bolder;
}

.main-header__orders__ordered:focus-visible,
.main-header__orders__ordered:hover,
.main-header__orders__cart:focus-visible,
.main-header__orders__cart:hover {
	color: var(--NAV-SEC-BG-COLOR);
}

.main-header__orders__cart {
	position: relative;
}

.main-header__orders__cart__number {
	z-index: 1;
	font-weight: bolder;
	color: var(--NAV-SEC-COLOR);
	position: absolute;
	top: -6.5px;
	left: 14px;
}
